.divTable {
  display: table;
  width: 98%;
  border: 1px solid #000;
  margin: 100px auto;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
}
.divTableHeading {
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}

.delete--checked {
  margin: 15px;
  border: 0;
}

.lastCell {
  border: 0;
}
